PORT=3010
MONGO_URL=mongodb://AhmadShalein:12345@cluster0-shard-00-00.fnlzh.mongodb.net:27017,cluster0-shard-00-01.fnlzh.mongodb.net:27017,cluster0-shard-00-02.fnlzh.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-q5e3h8-shard-0&authSource=admin&retryWrites=true&w=majority